/* Styling for body and Background Wave Animation */

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: hidden;
    background: linear-gradient(315deg, rgba(101, 0, 94, 1) 3%, rgba(60, 132, 206, 1) 38%, rgba(48, 238, 226, 1) 68%, rgba(255, 25, 25, 1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    overflow-y: auto;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    top: 40px;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
/* Main Container */

.container {
    padding: 1%;
    overflow-y: auto;
    height: 100%;
}

/* Sidebar styling */

.sidebar {
    background-color: #ffff;
    width: 25%;
    border-radius: 20px;
    margin-top: 6%;
    padding: 10px;
    position: fixed;
}

.profileImage {
    position: absolute;
    top: -1%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profileImage img {
    width: 85%;
    height: 25%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(117, 191, 255);
}

.name {
    margin-top: 20%;
    text-align: center;
}

.roll {
    background-color: rgb(239, 245, 245);
    padding: 5px;
    left: 50%;
    border: 2px solid;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    border-image-slice: 1;
    text-align: center;
    font-size: small;
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.icons img {
    width: 10%;
    height: 10%;
    margin-left: 5px;
    border-radius: 50%;
    border: 1px solid black;
}

.icons a{
    text-decoration: none;
}

.icons img:hover {
    border: 1px solid white;
    box-shadow: 5px 5px 15px orange;
    transition: all 0.1s ease-out;
    cursor: pointer;
}

.details {
    background-color: rgb(239, 245, 245);
    border-radius: 10px;
    padding: 5px;
}

.content img {
    width: 13%;
    height: 13%;
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(148, 148, 148);
    margin: 2px;
}

.content {
    display: flex;
    align-items: center;
}

.content:hover {
    cursor: pointer;
    /* background-color: rgb(255, 217, 193); */
    background-color: rgb(203, 230, 254);
    border-radius: 5px;
    transition: all 0.4s ease-out;
    cursor: pointer;
    box-shadow: 2px 2px 5px #8b8686;

}

.text-content {
    margin-left: 10px;
    text-wrap: wrap;
}

.heading {
    font-size: 1em;
    font-weight: lighter;
    font-family: monospace;
}

.text {
    font-size: 1em;
    font-weight: 500;
    font-family: sans-serif;
}

hr {
    visibility: hidden;
}

/* ////////////////////////////////////////////////// */
/* Navbar CSS Styling */

.navbar {
    height: auto;
    margin-left: 50%;
    margin-top: 0.5%;
    margin-right: 1%;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 15px;
    position: relative;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px;
}

.nav-image img {
    width: 60%;
    height: 30%;
    margin: 2px;
    font-size: 1em;
    font-weight: lighter;
    font-family: monospace;
}

.nav-content {
    width: 12%;
    text-wrap: wrap;
    margin-left: 10px;
    border-radius: 7px;
    text-align: center;
    background-color: rgb(229, 239, 248);
    box-shadow: 2px 2px 5px #585656;
}

.nav-content:hover {
    cursor: pointer;
    color: #ffff;
    background-color: rgb(243, 93, 39);
    box-shadow: 2px 2px 5px #fffc5e;
    transition: all 0.3s ease-out;
}

.nav-heading {
    font-size: 0.7em;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    padding: 2px;
}

.portfolioImg {
    width: 15%;
    padding: 2px;
    margin-left: 5px;
    font-size: large;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 7px;
    text-align: center;
    background-color: rgb(203, 230, 254);
    box-shadow: 2px 2px 5px #585656;
    text-wrap: wrap;
}

.portfolioImg:hover {
    cursor: pointer;
}

.portfolioImg img {
    width: 35%;
    margin: 2px;
    font-size: 1em;
    font-weight: lighter;
    font-family: monospace;
}

/* ///////////////////////////////////////////////////// */
/* mainContent CSS Styling */

.mainContent {
    background-color: aliceblue;
    margin-left: 28%;
    margin-top: 9%;
    border-radius: 10px;
    padding: 5px;
    width: 70%;
    top: 0;
    left: 0;
    height: 75%;
    position: fixed;
    overflow: auto;
}

.menu {
    width: auto;
    height: auto;
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 5px;
}

.menu h2 {
    margin-left: 10px;
    border-radius: 5px;
    position: relative;
    font-size: larger;
    font-family: serif;
}

.menu h2 span {
    position: absolute;
    top: 50%;
    width: 150px;
    height: 5px;
    border-radius: 5px;
    background: linear-gradient(315deg, rgb(252, 159, 52) 3%, rgba(60, 132, 206, 1) 38%, rgba(48, 238, 226, 1) 68%, rgb(223, 69, 69) 98%);
    transform: translateY(-50%);
}

.data {
    background-color: rgb(217, 237, 255);
    padding: 10px;
    border-radius: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.techSkills {
    padding: 10px;
    width: 70%;
    height: auto;
}

.skill {
    display: inline-block;
    background-color: rgb(221, 240, 240);
    padding: 10px;
    margin: 5px;
    border: 1px solid #484646;
    text-align: center;
    font-size: small;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.skill:hover {
    cursor: pointer;
    color: #ffff;
    background-color: rgb(243, 93, 39);
    box-shadow: 2px 2px 5px #403f3f;
    border: 1.2px solid whitesmoke;
    transition: 0.3s all ease-out;
}

/* ////////////////////////////////////////////////////// */
/* Skills progress Data */

.Skilldata {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: rgb(217, 237, 255);
    padding: 10px;
    border-radius: 4px;
}


.card {
    width: 350px;
    padding: 10px;
    margin-left: 20px;
    background-color: rgb(252, 226, 248);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(135, 130, 130);
}

.card:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px #403f3f;
    border: 1px solid whitesmoke;
    transition: 0.3s all ease-out;
}

.header {
    display: flex;
    align-items: center;
}

.header img {
    width: 10%;
    height: 10%;
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(135, 130, 130);
    margin-left: 15px;
    margin-right: 10px;
}

.header h5 {
    font-weight: bold;
    margin-left: 20px;
}

.percentage {
    float: right;
    font-size: small;
}

.progress-bar {
    width: 100%;
    height: 7px;
    background-color: #f3f3f3;
    margin: 10px 0;
    border-radius: 10px;
}

.progress {
    height: 100%;
    background-color: #4caf50;
    border-radius: 10px;
}

.card-content {
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
}

/* ///////////////////////////////////////////////////////////////////// */
/* Projects Data */
.Projectdata {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    background-color: rgb(217, 237, 255);
    padding: 10px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.project {
    padding: 10px;
    align-items: center;
    background-color: rgb(196, 254, 235);
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgb(135, 130, 130);
}

/* .project video{
    width: 90%;
    height: 60%;
    border-radius: 5px;
    display: block; 
    margin: 0 auto;
} */

.project img[id="proImg"] {
    width: 90%;
    height: 60%;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.project h4 {
    margin: 20px 0;
}

.project .description {
    font-size: 14px;
    color: #666;
}

h4 img {
    height: 20px;
    width: 20px;
}

h4 img:hover {
    cursor: pointer;
}

/* ////////////////////////////////////////////////////////// */
/* Achievements Styling*/

.achievements{
    padding: 10px;
    border-radius: 10px;
}

.skills-container {
    overflow-x: auto; 
    scroll-behavior: unset;
    white-space: nowrap; 
  }
  
  .skill-box {
    display: inline-block;
    align-items: center; 
    padding: 5px;
    margin: 5px;
    border: 1px solid #cd6ffc;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .certificate-icon {
    margin-right: 2px; 
    width: 25px; 
    height: 25px; 
    position: relative;
  }

  .skill-box:hover{
    cursor: pointer;
    border: 1px solid #ef791f;
    box-shadow:2px 2px 7px #666;
    background-color: rgb(179, 255, 255); 
    transition: all ease-in-out 0.2s;
  }

/* ////////////////////////////////////////////////////////// */
/* Experience & Education details */

.Exdata {
    padding: 10px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.experienceDiv {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 5px;
    border: 0.5px solid #858080;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(250, 225, 192);
}

.n {
    display: flex;
    align-items: center;
}

.experienceDiv img {
    width: 10%;
    height: 100%;
}

.experienceDiv b {
    align-items: center;
}

.experience {
    padding: 10px;
    background-color: #b4f9fc;
    margin: 10px;
    border-radius: 5px;
}



.educationDiv {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 5px;
    border: 0.5px solid #858080;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(250, 225, 192);
}

.n {
    display: flex;
    align-items: center;
}

.educationDiv img {
    width: 10%;
    height: 100%;
}

.educationDiv b {
    align-items: center;
}

.education {
    padding: 10px;
    background-color: #b4f9fc;
    margin: 10px;
    border-radius: 5px;
}

.year {
    font-size: small;
}

.roleP {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 2px 2px 2px 0px;
    display: flex;
    justify-content: space-between;
}

#percent {
    font-size: smaller;
}

.company {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

/* //////////////////////////////////////////////////////// */
/* Contact Form */

.vertical-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 0.8rem;
    width: 100%;
    margin-left: 20px;
}

.data form {
    border: 1px solid;
    margin-left: 20px;
}

.connectiondata {
    display: flex;
    justify-content: start;
    background-color: #F8C7CC;
    padding: 10px;
    border-radius: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    gap: 10px;
}

.connectiondata p {
    font-size: 10px;
}

.connectImg img {
    border-radius: 20px;
    padding: 10px;
    width: 75%;
    height: 90%;
}

.vertical-form label {
    font-style: oblique;
    font-weight: bold;
}

.vertical-form input {
    outline: none;
    height: 7%;
}

.vertical-form textarea {
    outline: none;
}

.vertical-form button {
    margin-top: 15px;
    border: 1px solid #f3f3f3;
    height: 15%;
    font-size: medium;
    font-weight: bold;
    background-color: rgb(156, 84, 224);
    border-radius: 20px 0px 20px 00px;
}

.vertical-form button:hover {
    cursor: pointer;
    color: whitesmoke;
    box-shadow: 2px 2px 5px #403f3f;
}

/* Footer Styling */
.footer {
    height: 10%;
    border-radius: 2px;
    background-color: #484646;
    padding: 20px 0;
    text-align: center;
}

.footer-content p {
    margin: 0;
    color: #f3f3f3;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content ul li {
    display: inline;
    margin: 0 10px;
}

.footer-content ul li a {
    color: #f3f3f3;
    text-decoration: none;
}




/* /////////////////////// media query for small size divices /////////////////////////////////////////////////////////////////// */

@media (max-width: 768px) {

    .container {
        overflow-wrap: normal;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        overflow-y: auto;
        height: auto;
    }

    /* ////////// sidebar  /////////////////////////////// */


    .sidebar,
    .navbar,
    .mainContent {
        display: block;
        /* margin-bottom: 20px; */
        position: static;
    }

    .sidebar {
        /* display: none; */
        top: 2%;
        width: auto;
        height: 90%;
        position: relative;
        margin: 10% 10px 10px 10px;
    }

    .profileImage {
        position: absolute;
        top: 4%;
        left: 55%;
        transform: translate(-50%, -50%);
    }

    .profileImage img {
        width: 75%;
        height: 25%;
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgb(117, 191, 255);
    }

    .name {
        /* margin-top: 5%; */
        text-align: center;
    }
    
    .roll {
        background-color: rgb(239, 245, 245);
        padding: 5px;
        left: 50%;
        border: 2px solid;
        border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
        border-image-slice: 1;
        text-align: center;
        font-size: small;
        font-weight: lighter;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .icons img {
        width: 10%;
        height: 10%;
        border-radius: 50%;
        border: 1px solid black;
    }

    .icons a{
        text-decoration: none;
    }
    
    .icons img:hover {
        border: 1px solid white;
        box-shadow: 5px 5px 15px orange;
        transition: all 0.1s ease-out;
        cursor: pointer;
    }
    
    .details {
        background-color: rgb(239, 245, 245);
        border-radius: 10px;
        padding: 5px;
    }
    
    .content img {
        width: 13%;
        height: 13%;
        background-color: #ffff;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgb(148, 148, 148);
        margin: 2px;
    }
    
    .content {
        display: flex;
        align-items: center;
    }
    
    .content:hover {
        cursor: pointer;
        /* background-color: rgb(255, 217, 193); */
        background-color: rgb(203, 230, 254);
        border-radius: 5px;
        transition: all 0.4s ease-out;
        cursor: pointer;
        box-shadow: 2px 2px 5px #8b8686;
    
    }
    
    .text-content {
        margin-left: 10px;
        text-wrap: wrap;
    }
    
    .heading {
        font-size: 1em;
        font-weight: lighter;
        font-family: monospace;
    }
    
    .text {
        font-size: 0.75rem;
        font-weight: 500;
        font-family: sans-serif;
    }
    
    hr {
        visibility: hidden;
    }



    /* ///////////////////// navbar  ///////////////////////// */

    .navbar {
        /* display: none; */
        position: static;
        height: auto;
        margin-left: 15px;
        margin-top: 6%;
        background-color: aliceblue;
        border: 1px solid black;
        border-radius: 15px;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 5px;
    }
    
    .nav-image img {
        width: 90%;
        height: 50%;
        margin: 2px;
    }
    
    .nav-content {
        width: 14%;
        text-wrap: wrap;
        margin-left: 5px;
        border-radius: 7px;
        text-align: center;
        background-color: rgb(229, 239, 248);
        box-shadow: 2px 2px 5px #585656;
    }
    
    .nav-content:hover {
        cursor: pointer;
        color: #ffff;
        background-color: rgb(243, 93, 39);
        box-shadow: 2px 2px 5px #fffc5e;
        transition: all 0.3s ease-out;
    }
    
    .nav-heading {
        font-size: 0.4rem;
        font-weight: 600;
        font-family: sans-serif;
        text-align: center;
        padding: 1px;
    }
    
    .portfolioImg {
        display: none;
    }


    /* /////////////////////// main content  ////////////////////////////////// */

    .mainContent {
        /* display: none; */
        background-color: aliceblue;
        margin-top: 2%;
        margin-left: 2%;
        border-radius: 10px;
        padding: 5px;
        width: 95%;
        height: 100%;
    }

    .menu {
        width: auto;
        height: auto;
        border-radius: 5px;
        padding: 5px;
    }
    
    .menu h2 {
        margin-left: 10px;
        border-radius: 5px;
        position: relative;
        font-size: larger;
        font-family: serif;
    }
    
    .menu h2 span {
        position: absolute;
        top: 50%;
        width: 70px;
        height: 5px;
        border-radius: 5px;
        background: linear-gradient(315deg, rgb(252, 159, 52) 3%, rgba(60, 132, 206, 1) 38%, rgba(48, 238, 226, 1) 68%, rgb(223, 69, 69) 98%);
        transform: translateY(-50%);
    }
    
    span[id="exp"]{
        display: none;
    }

    .data {
        background-color: rgb(217, 237, 255);
        padding: 10px;
        border-radius: 4px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .techSkills {
        padding: 10px;
        width: 90%;
        height: auto;
    }
    
    .skill {
        display: inline-block;
        background-color: rgb(221, 240, 240);
        padding: 10px;
        margin: 5px;
        border: 1px solid #484646;
        text-align: center;
        font-size: small;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-radius: 10px;
    }
    
    .skill:hover {
        cursor: pointer;
        color: #ffff;
        background-color: rgb(243, 93, 39);
        box-shadow: 2px 2px 5px #403f3f;
        border: 1.2px solid whitesmoke;
        transition: 0.3s all ease-out;
    }
    
    .Skilldata {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* gap: 5px; */
        background-color: rgb(217, 237, 255);
        padding: 10px;
        border-radius: 4px;
    }
    
    
    .card {
        width: 93%;
        padding: 10px;
        margin-left: 0;
        background-color: rgb(252, 226, 248);
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgb(135, 130, 130);
    }
    
    .card:hover {
        cursor: pointer;
        box-shadow: 2px 2px 5px #403f3f;
        border: 1px solid whitesmoke;
        transition: 0.3s all ease-out;
    }
    
    .header {
        display: flex;
        align-items: center;
    }
    
    .header img {
        width: 10%;
        height: 10%;
        background-color: #ffff;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgb(135, 130, 130);
        margin-left: 15px;
        margin-right: 10px;
    }
    
    .header h5 {
        font-weight: bold;
        margin-left: 20px;
    }
    
    .percentage {
        float: right;
        font-size: small;
    }
    
    .progress-bar {
        width: 100%;
        height: 7px;
        background-color: #f3f3f3;
        margin: 10px 0;
        border-radius: 10px;
    }
    
    .progress {
        height: 100%;
        background-color: #4caf50;
        border-radius: 10px;
    }
    
    .card-content {
        /* margin-top: 10px; */
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: small;
    }
    
    /* ///////////////////////////////////////////////////////////////////// */
    /* Projects Data */
    .Projectdata {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
        background-color: rgb(217, 237, 255);
        padding: 10px;
        border-radius: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .project {
        padding: 10px;
        align-items: center;
        background-color: rgb(196, 254, 235);
        border-radius: 7px;
        box-shadow: 2px 2px 5px rgb(135, 130, 130);
    }
    
    /* .project video{
        width: 90%;
        height: 60%;
        border-radius: 5px;
        display: block; 
        margin: 0 auto;
    } */
    
    .project img[id="proImg"] {
        width: 90%;
        height: 55%;
        border-radius: 5px;
        display: block;
        margin: 0 auto;
    }
    
    .project h4 {
        margin: 20px 0;
    }
    
    .project .description {
        font-size: 14px;
        color: #666;
    }
    
    h4 img {
        height: 20px;
        width: 20px;
    }
    
    h4 img:hover {
        cursor: pointer;
    }
    
    /* ////////////////////////////////////////////////////////// */
    /* Experience & Education details */
    .Exdata {
        border-radius: 4px;
        display: grid;
        width: 95%;
        margin-left: 0;
        grid-template-columns: repeat(1, 1fr);
        gap: 1px;
    }
    
    .experienceDiv {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* margin: 5px; */
        border: 0.5px solid #858080;
        border-radius: 5px;
        /* padding: 10px; */
        background-color: rgb(250, 225, 192);
    }
    
    .n {
        display: flex;
        align-items: center;
    }
    
    .experienceDiv img {
        width: 10%;
        height: 100%;
    }
    
    .experienceDiv b {
        align-items: center;
    }
    
    .experience {
        padding: 10px;
        background-color: #b4f9fc;
        margin: 10px;
        border-radius: 5px;
    }
    
    .educationDiv {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 5px;
        border: 0.5px solid #858080;
        border-radius: 5px;
        padding: 10px;
        background-color: rgb(250, 225, 192);
    }
    
    .n {
        display: flex;
        align-items: center;
    }
    
    .educationDiv img {
        width: 10%;
        height: 100%;
    }
    
    .educationDiv b {
        align-items: center;
    }
    
    .education {
        padding: 10px;
        background-color: #b4f9fc;
        margin: 10px;
        border-radius: 5px;
    }
    
    .year {
        font-size: small;
    }
    
    .roleP {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 2px 2px 2px 0px;
        display: flex;
        justify-content: space-between;
    }
    
    #percent {
        font-size: smaller;
    }
    
    .company {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: small;
    }

    /* ////////////////////////////////////////////////////////// */
/* Achievements Styling*/

.achievements{
    padding: 10px;
    border-radius: 10px;
    /* border: 0.5px solid #585656; */
    /* background-color: rgb(210, 249, 151); */
}

.skills-container {
    overflow-x: auto; 
    scroll-behavior: unset;
    white-space: nowrap; 
  }
  
  .skill-box {
    display: inline-block;
    align-items: center; 
    padding: 5px;
    margin: 5px;
    border: 1px solid #cd6ffc;
    border-radius: 10px;
    text-align: center;
    font-size:smaller;
    font-style: oblique;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .certificate-icon {
    margin-right: 2px; 
    width: 20px; 
    height: 20px; 
    position: relative;
  }

  .skill-box:hover{
    cursor: pointer;
    border: 1px solid #ef791f;
    box-shadow:2px 2px 7px #666;
    background-color: rgb(179, 255, 255); 
    transition: all ease-in-out 0.2s;
  }

/* ////////////////////////////////////////////////////////// */
    
    /* //////////////////////////////////////////////////////// */
    /* Contact Form */
    
    .vertical-form {
        display: flex;
        flex-direction: column;
        /* margin-top: 20px; */
        gap: 0.5rem;
        width: 100%;
        margin-left: 10px;
    }
    
    .data form {
        border: 1px solid;
        margin-left: 20px;
    }
    
    .connectiondata {
        display: flex;
        justify-content: start;
        background-color: #F8C7CC;
        padding: 10px;
        border-radius: 15px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        gap: 5px;
    }
    
    .connectiondata p {
        font-size: 10px;
    }
    
    .connectImg img {
        border-radius: 20px;
        padding: 10px;
        width: 95%;
        height: 90%;
    }
    
    .vertical-form label {
        font-style: oblique;
        font-weight: bold;
    }
    
    .vertical-form input {
        outline: none;
        height: 7%;
    }
    
    .vertical-form textarea {
        outline: none;
    }
    
    .vertical-form button {
        margin-top: 5px;
        border: 1px solid #f3f3f3;
        height: 15%;
        font-size: medium;
        font-weight: bold;
        background-color: rgb(156, 84, 224);
        border-radius: 20px 0px 20px 00px;
    }
    
    .vertical-form button:hover {
        cursor: pointer;
        color: whitesmoke;
        box-shadow: 2px 2px 5px #403f3f;
    }
    
    /* Footer Styling */
    .footer {
        height: 1.5%;
        border-radius: 2px;
        background-color: #484646;
        /* padding: 20px; */
        text-align: center;
    }
    
    .footer-content p {
        margin: 0;
        color: #f3f3f3;
    }
    
    .footer-content ul {
        list-style: none;
        padding: 0;
    }
    
    .footer-content ul li {
        display: inline;
        margin: 0 10px;
    }
    
    .footer-content ul li a {
        color: #f3f3f3;
        text-decoration: none;
    }
}